<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>RSPS智能包装系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

<section>
    <h2 style="border-left-width: 5px;border-left-style: solid;border-left-color: rgb(55, 74, 174);font-size: 16px;font-weight: bold;line-height: 32px;color: rgb(102, 102, 102);padding: 0 10px;margin: 5px;">
        英特集团
    </h2>
</section>
<section style="color: #6e6e6e">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;浙江英特集团股份有限公司（以下简称“英特集团”、“公司”）是由中国中化集团和浙江省国贸集团合资的中化蓝天集团旗下的上市公司，前身为“凯地丝绸”，股票代码为SZ.000411。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;2001年12月，公司通过资产重组控股浙江英特药业有限责任公司（简称“英特药业”），公司主营业务转型为医药流通，并更名为浙江英特集团股份有限公司。英特药业的前身是成立于1950年7月的浙江人民医药公司；1998年，浙江省医药药材有限公司、浙江省医药工业公司、浙江省医疗器械公司、浙江省医药科技公司四家公司进行战略重组，合并成立英特药业。2008年，中国中化集团入主原浙江省石化建材集团（2009年更名为中化蓝天集团），英特集团成为央企一员，迎来了新的发展机遇。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;公司为区域性医药流通龙头企业，以经营药品、中药、生物器械为主营业务，以医药专业分销、现代物流、电子商务、生产加工、终端零售与健康管理为主要经营业态，下属包括浙江英特药业有限责任公司、浙江英特医药药材有限公司、浙江省医疗器械有限公司等二十余家成员企业，销售网络遍布浙江、辐射华东。公司2015年度营业收入154.66亿元，2015年末总资产61.25亿元、所有者权益15.16亿元。公司连续多年荣获“中国服务企业500强”、“中国医药流通百强企业”、“中国医药行业电子商务龙头企业“、“浙江省百强企业”、“浙江省重点流通企业”、“浙江省省级医药重点储备单位”等荣誉称号，是中国医药商业协会、浙江医药行业协会副会长单位。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;公司以成为“中国最优秀的专业医药健康产业综合服务商”为愿景，秉承“创造价值、追求卓越”的企业核心价值理念，围绕“内涵式增长、外延式扩张、整合式发展、创新式提升”的战略路径，巩固提升药品分销核心业务，加快发展中药和保健品、生物制品、医疗器械战略业务，强化零售健康、现代物流、电子商务等支持业务，致力于将公司打造成为一个主业鲜明、经营特色、管理先进的大型现代化医药健康产业集团。</p>
</section>

</body>

</html>
