<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>RSPS智能包装系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

<section>
    <h2 style="border-left-width: 5px;border-left-style: solid;border-left-color: rgb(55, 74, 174);font-size: 16px;font-weight: bold;line-height: 32px;color: rgb(102, 102, 102);padding: 0 10px;margin: 5px;">
        英特物流
    </h2>
</section>
<section style="color: #6e6e6e">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;浙江英特物流有限公司系浙江英特药业有限责任公司全资子公司，2005年注册成立，注册资金8000万元，现有员工300余人，拥有一批医药专业技术人员和训练有素的物流人才，是一支年轻有朝气活力的团队。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;公司已投入使用的物流中心面积达6万多平方，集药品储存、验收养护、物流加工、装卸搬运、集中配送和信息服务六大功能于一体，配备系列具有国际先进水平的物流设施；依靠自身的力量开发了ERP、WMS系统、第三方物流系统，建立了英特物流网站，大量运用办公自动化系统（OA），强大的物流能力与现代化信息技术完美结合，将支持客户终端30000个，日发货量20000件，日处理订单行20000行，储存品规15000个，货位4万个，库存25万件，销售200亿以上，年吞吐量1000万件以上的物流能力，整体提升供应链的价值。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;浙江英特物流有限公司于2008年6月通过浙江省食品药品监督管理局认证，成为浙江省首家具有第三方药品物流资质的企业，从药品入库到出库，严格按照国家GSP管理要求，提供包括冷藏药品在内的药品物流服务。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;作为浙江省政府医药储备定点单位，英特物流承担着70%重大灾情、疫情、事故的急救药品供应工作，把履行企业社会责任全面融入公司发展战略、经营管理和企业文化建设之中，努力追求企业经济效益和社会效益同步发展。浙江英特物流作为浙江省供应链协会理事单位、中国物流与采购联合会会员单位、杭州市物流与采购行业协会会员单位；2006-2009年被浙江省人民政府列为现代物流发展重点联系企业；2007年制定了浙江省地方标准《药品冷链物流技术与管理规范》；2008年被杭州市委、杭州市人民政府评为“社会责任先进企业”；2009年被评为国家AAA级物流企业、“英特医药物流服务”荣膺浙江名牌产品称号；2010年通过ISO9001:2008复认证，英特药业医药物流服务被授予“浙江服务名牌”；2010年被中国交通运输协度会评为“全国先进物流企业”；2011年被中国物流与采购联合会评为“AAA物流企业”；2011年“第三方医药物流”被评为浙江省物流企业优秀创新项目；被长三角地区物流发展联席会议、长三角地区现代物流合作联盟评为2010－2011年“守行规、讲诚信”先进物流企业称号；2011年被人力资源和社会保障部、中国物流与采购联合会评为“全国物流行业先进集体”...</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;浙江英特物流有限公司拥有目前浙江省最大的专业医药冷库，容积达4000立方，货位4000余个，可储存药品10000件，按冷链药品存储要求，分设缓冲区、待验待发区、包装物料区、托盘储存区、搁板储存区和多温层设置。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;浙江英特物流有限公司定位于“立足浙江、辐射华东、走向全国，成为国内最具影响力和竞争力，最具活力和实力的区域专业医药物流企业”，并将以“优质、快捷、准确、高效”的服务理念，竭诚为广大医药企业提供医药物流服务。</p>
</section>

</body>

</html>
