<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<style type="text/css">
    .p-row {
        padding:0px;
        height: 50px;
        line-height: 50px;
    }

    .tab-name {

    }
</style>

<!-- 图表显示区域 -->
<div class="col-md-3">
    <div class="card">
        <div class="col-md-12 p-row">
            <div class="col-md-6">
                <span style="color: #404040">闲置率</span>
                <span style="color: #404040">周转率</span>
                <span style="color: #404040">遗失率</span>
                <span style="color: #404040">过期率</span>
            </div>
            <div class="col-md-3">
                <span></span>
            </div>
            <div class="col-md-3">
                <span></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-9">
                <!-- 图表区域 -->
            </div>
            <div class="col-md-3">
                <!-- 排名区域 -->
            </div>
        </div>
    </div>
</div>

</html>
